*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    display: flex;
    height: 10vh;
    margin: auto;
}

.logo-container, .nav-links, .search-user{
    display: flex;
}

.logo-container, .nav-links{
    background-color: rgb(240, 240, 240);
}

.logo-container{
    width: 8%;
    align-items: center;
    display: flex;
}

.logo-img{
    height: fit-content;
    flex: 1;
}

.logo-text-div{
    flex: 1;
}

.logo{
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-links{
    width: 61.8%;
    font-size: 27px;
}

.nav-links{
    list-style: none;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    display: flex;
}

.nav-link{
    font-size: 20px;
    text-align: center;
    padding: 12px;
}

#home, #categories, #card, #blog, #contact{
    text-decoration: none;
}

.dropdown{
    display: inline;
}

.dropdown-menu a{
    display: block;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 5%;
}

.drp-dwn{
    display: flex;
}



.search-user{
    width: 30.2%;
    min-width: 0;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(87, 19, 150);
}

#subscribe-btn{
    border-radius: 50%;
    background-color: #8b3b3b;
    border: 1px solid black;
}

#user-dp{
    vertical-align: middle;
    overflow: hidden;
}

.adiv{
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 10vh;
    
}

.nav-link:hover{
    background-color: rgb(213, 216, 213);
    border-radius: 8px;
}

.lactive{
    background-color: rgb(3, 139, 10);
    border-radius: 8px;
    color: white;
}

#myCarousel{
    height: 38vw;
}

.carousel-indicators li{
    border-radius: 0 !important;
    height: 0.4rem !important;
    width: 4vw !important;
}

.carousel-inner{
    height: 100%;
}

.item{
    height: 100%;
}

.car-flex{
    height: 100%;
    display: flex;
}

.empty1{
    height: 100%;
    width: 8%;
    background-color: rgb(240, 240, 240);
}

.cont{
    height: 100%;
    width: 41.8%;
    background-color: rgb(240, 240, 240);
    padding-top: 8%;
}

.search{
    border-radius: 30px;
    border: 2px solid black;
    width: 95%;
    height: 3vw;
    overflow: hidden !important;
    margin-top: 7%;
}

.search-inp{
    border-radius: 20px;
    border: none;
    height: 100%;
    box-shadow: none !important;
}

.search-inp::placeholder{
    font-size: 1vw;                                             /**/
}

.search-span{
    background-color: white;
    width: 7.8vw !important;
}

.search-btn{
    width: 98%;
    background-color: orange;
    font-size: 1.1vw;
    border-radius: 25px !important;
}

.search-btn:hover{
    background-color: rgb(219, 150, 21);
}

.empty2{
    height: 100%;
    width: 20%;
    background-color: rgb(240, 240, 240);
}

.carousel-img{
    position: absolute;
    width: 27vw;
    height: 35vw;
    margin-left: 52%;
    margin-top: 3vw;
}

.top-line{
    font-size: 4vw;
}


.xyz{
    height: 100%;
    width: 30.2%;
    background-color: rgb(87, 19, 150);    
}



.arc{
    width: 5.5vw;
    height: 11vw;
    margin-left: 31.5%;
    margin-top: 50%;
    border-radius: 0 150px 150px 0;
    background-color: rgb(54, 18, 88);
    margin-top: 50%;
    padding-top: 5%;
}

.semi-circle{
    width: 4vw;
    height: 8vw;
    background-color: rgb(232, 190, 172);
    border-radius: 0 150px 150px 0;
}

.emoji1, .emoji2, .emoji3{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    font-size: 2vw;
    cursor: pointer;
}

.emoji1{    
    margin: 11.5%;
    margin-left: 11%;
}

.emoji2{
    overflow: hidden;
    margin: 18.8%;
    margin-left: 16.5%;
}

.emoji3{
    margin: 11.5%;
    margin-top: 27%;
    margin-left: 11%;
}

#larrow, #rarrow{
    background: none;
    width: 7% !important;
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.intro{
    display: flex;
    height: 40vw;
    padding: 5%;
    padding-right: 0;
}

#intro-text{
    flex: 5;
    padding-top: 4%;
}

.anime{
    flex: 4;
    text-align: center;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    line-height: 100%;
}
svg{
    height: 100%;
}

#meditate{
    animation: up-down 1s ease-in-out infinite alternate;
}

@keyframes up-down{
    from{
        transform: translateY(-20px);
    }
    to{
        transform: translateY(20px);
    }
}

.quotes{
    display: flex;
    height: 30vw;
    background-color: rgb(240, 240, 240);
}

.thumbs-up{
    flex: 1;
    overflow: hidden;
    padding: 2%;
}

.thumbs-up img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.quote{
    flex: 2;
    padding-top: 6%;
    padding-left: 10%;
}

.join-us{
    display: flex;
    background-color: rgb(87, 19, 150);
}

.join-us-text{
    flex: 2;
    color: white;
    padding-top: 7%;
    padding-left: 8%;
}

.join-us-btn{
    font-size: 2vw;
    background: none;
    border: 1px solid black;
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(14, 160, 14);
    cursor: pointer;
    color: white;
}

.join-us-btn:hover{
    color: white;
    background-color: rgb(31, 112, 31);
}

#join-btn{
    text-decoration: none !important;
}

.group-study{
    flex: 1;
    padding: 5%;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 7vw;
    background-color: rgba(32, 164, 197, 0.664);
    color: white;
    font-size: calc(8px + 1vw);                                /**/
}

.media{
    width: 100%;
    text-align: center;
}

.media a{
    text-decoration: none;
}

.icons{
    margin-left: 1%;
}

.copyright{
    width: 100%;
    text-align: center;
    overflow: hidden;
}



/*Library card Page*/


  .login-wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form {
    position: relative;
    width: 100%;
    max-width: 380px;
    padding: 80px 40px 40px;
    background: rgba(0,0,0,0.7);
    border-radius: 10px;
    color: #fff;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
  }
  .form::before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255,255,255, 0.08);
    transform: skewX(-26deg);
    transform-origin: bottom left;
    border-radius: 10px;
    pointer-events: none;
  }
  .form img {
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    width: 100px;
    background: rgba(255,255,255, 0.8);
    overflow: hidden;
    border-radius: 50%;
  }
  .form h2 {
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 2rem;
    color: #ff652f;
  }
  .form .input-group {
    position: relative;
  }
  .form .input-group input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background-color: transparent;
    color: inherit;
  }
  .form .input-group label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 1rem;
    pointer-events: none;
    transition: .3s ease-out;
  }
  .form .input-group input:focus + label,
  .form .input-group input:valid + label {
    transform: translateY(-18px);
    color: #ff652f;
    font-size: .8rem;
  }
  .submit-btn {
    display: block;
    margin-left: auto;
    border: none;
    outline: none;
    background: #ff652f;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .forgot-pw {
    color: inherit;
  }
  
  #forgot-pw {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    z-index: 1;
    background: #fff;
    opacity: 0;
    transition: 0.6s;
  }
  #forgot-pw:target {
    height: 100%;
    opacity: 1;
  }
  .close {
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    text-decoration: none;
    color: inherit;
  }
  .submit-btn{
    text-align: center;
    
  }




/*Contact Page*/

.map-addr{
    height: 40vw;
    display: flex;
    background-color: rgba(0, 0, 0, 0.253);
    padding-top: 2%;
    padding-bottom: 2%;
}

#map{
    text-align: center;
    width: 70%;
    height: 100%;
}

.empty3, .empty4{
    width: 15%;
}

.contact-page{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.253);
}

#contact-info{    
    /* background-color: rgb(50, 84, 233); */
    border-radius: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: rgba(78, 2, 255, 0.685);     /*rgba(96, 38, 231, 0.555)*/
    padding: 2%;
    box-shadow: 0px 1px 15px 9px rgba(0,0,0,0.63);
    -webkit-box-shadow: 0px 1px 15px 9px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 1px 15px 9px rgba(0,0,0,0.63);
}

.contact-form{
    width: 80%;
    font-size: 1.2vw;
}

.empty5, .empty6{
    width: 30%;
}

#contact-txt{
    text-align: center;
    font-size: 4vw;
}

.form-submit{
    text-align: center;
}